:root {
	--grid-min-width: 200px; 
    --grid-gap: 10px; 
}

/* body {
    background-image: url("images/trianglify.png")!important;
} */

html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
#myContainer {
width: 100%;
height: 100%;
position: relative;
background: yellow;
}
#myAnimation {
  z-index: 10;
  width: 116px;
  height: 80px;
  position: absolute;
}
#logoPicture {
  width: 116px;
  height: 80px;
}

body>h1 {
    padding-left: 300px;
    font-size: 80px;
    text-align: center;
    color: #CD5779;
    text-emphasis: weight;
    font-family: 'Inconsolata', monospace;
}


body img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
    display: block;
    height: 60%;
    z-index: 10;
}

.img-circle {
	border: 3px solid white;
    border-radius: 50%;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.col-sm-4 img {
    width: 80%;
    height: auto;
}
.col-xs-12 a {
    padding: 0px;
}

.sidenav>a>img {
    width: 70%;
    height: auto;
}

.sidenav .col-sm-4 a{
  padding: 0px;
}


hb {
    font-size: 90px;
    text-align: center;
    font-family: 'Inconsolata', monospace!important;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-shadow: 1px 1px black;
}

h2, h3 {
    color: white!important;
    text-align: center;
    margin: 3px!important;
    font-family: 'Open Sans', sans-serif;
}

#lastSub {
    margin-bottom: 26px!important;
}

.sidenav {
    width: inherit;
    height: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #525E76;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav>a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1!important;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  #defaultCanvas0 {
    margin-left: 25%;
  }
  
@media only screen and (max-width: 768px) {
  .sidenav {
    display: none;
  }
  .sidenavcol {
    display: none;
  }
  hb {
    margin-bottom: 2px;
    margin-top: 2px;
    line-height: 70px;
  }
  #defaultCanvas0 {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .topnav {
    display: none!important;
  }
}

  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #A47B8F;
    color: white;
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
    opacity: 0.85;
  }

  .skillCard .col-xs-3 {
    min-width: 0;
  }

  .card h1, .card p {
      opacity: 1;
      padding: 2px;
      text-align: center;
      font-size: 44px;
  }

  .card p {
      font-size: 40px;
  }

  .card img {
    opacity: 1;
      width: 60%;
      height: auto;
      margin-top: 1px;
  }

  .card .col-xs-4 {
    width: auto;
  }

  .card .col-xs-4 img {
    margin-right: auto;
    margin-left: auto;
    max-height: 60px;
    width: auto;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  #projectcarousel img {
    max-height: 62%;
    max-width: 90%;
    width: 80
    width: auto;
  }

  #projectcarousel .col-xs-4 img {
    height: 16%;
    width: auto;
  }

  #projectcarousel h1 {
    font-size: 30px;
    margin-top: 5px;
  }

  .gallery-cell {
    width: 66%;
    margin-right: 10px;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .section {
    background-color: #A47B8F;
    opacity: 0.8;
    color: #fff;
	  padding: 15px;
    max-width: 900px;
    margin:0 auto;
    margin-bottom: 10px;
    border-radius: 2px;
}

.section img {
    width: 16%;
    height: auto;
    margin-top: 15px;
}

.section h1, .section p {
    text-align: center;
}

#firstLetter {
    font-family: inherit;
}

.skill>img{
    width: auto;
    height: 12%;
}
@media only screen and (max-width: 768px) {
  .skill>img{
      height: 8%;
  }
}



p2 {
  font-size: 16px;
}

.btn-group button {
  background-color: #985e6d; /* Green background */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #985e6d;
}


/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  float: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



.contain {
  position: relative;
  width: 40%;
  height: 40%;
  float: left;
  margin: 10px;
}



.port {
  display: block;
  width: 100%;
  height: 100%;
  background-color: grey;
  padding: 5px;
}
.port h1 {
  font-size: 40px;
  text-align: center;
  color: white;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.contain:hover .overlay, .contain:active .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.slideButton {
  z-index: -1;
  height: 40px;
  width: 180px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px 10px 10px 0px;
  transition:transform 1s;
  background-color: #008CBA;

}
.slideButton h1 {
  color: white;
  margin: 0;
  text-align: center;
}

.secondSB {
  top: 50px;
}

h1:nth-of-type(2) {
  top: 50px;
}

.contain:hover .slideButton, .contain:active .slideButton {
  z-index: 2;
  transform:translateX(150px);
}

.port img {
  height: 70%;
  width: auto;
  max-width: 100%;
}


@media only screen and (max-width: 768px) {
  .contain {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .port h1 {
  font-size: 30px;
}
.slideButton h1 {
  font-size: 30px;
  }
  .slideButton {
    width: 130px;
  }
  .contain:hover .slideButton, .contain:active .slideButton {
  z-index: 2;
  transform:translateX(130px);
}
}















