:root {
	--grid-min-width: 200px; 
    --grid-gap: 10px; 
}

body {
    background-image: url("images/trianglify.png")!important;
}

body>h1 {
    padding-left: 300px;
    font-size: 80px;
    text-align: center;
    color: #CD5779;
    text-emphasis: weight;
    font-family: 'Inconsolata', monospace;
}


body img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    display: block;
    height: 60%;
    z-index: 10;
}

.img-circle {
	border: 3px solid white;
    border-radius: 50%;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.col-sm-4 img {
    width: 80%;
    height: auto;
}
.col-sm-12 a {
    padding: 0px!important;
}

.sidenav>a>img {
    width: 70%;
    height: auto;
}


hb {
    font-size: 90px;
    text-align: center;
    color: #FF2840!important;
    font-family: 'Inconsolata', monospace!important;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

h2, h3 {
    color: white!important;
    text-align: center;
    margin: 3px!important;
    font-family: 'Open Sans', sans-serif;
}

#lastSub {
    margin-bottom: 26px!important;
}

/* The sidebar menu */
.sidenav {
    width: inherit;
    height: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    opacity: 0.7;
    background-color: #00974A; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1!important;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */

  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #FF2840;
    color: white;
  }

  .card h1, .card p {
      padding: 2px;
      text-align: center;
      font-size: 64px;
  }

  .card p {
      font-size: 40px;
  }

  .card img {
      height: 10%;
      margin-top: 1px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .section {
    background-color: #FF2840;
    opacity: 0.8;
    color: #fff;
	padding: 15px;
    max-width: 900px;
    margin:0 auto;
    margin-bottom: 10px;
    border-radius: 2px;
}

.section img {
    width: 16%;
    height: auto;
    margin-top: 15px;
}

.section h1, .section p {
    text-align: center;
}

#firstLetter {
    font-family: inherit;
}

.skill>img{
    width: 80%;
    height: auto;
}

.skill {
    height: 340px;
}